header {
    display:flex;
    flex-direction: column;
}

.logo {
    height: 200px;
}


.image {
    width: 600px;
    height:300px; 
}

.header-top{
    display:flex;
    flex: 0;
    padding-left: 200px;
    padding-right:200px;
    background-color:#0b1a20;
    height: 100px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.header-top-links{
    display: flex;
    gap: 30px;
}